<!-- Estructura del formulario -->

<section class="contact-form">
    <h2 class="contact-form__title">
        diligencia los campos y contáctanos
    </h2>

    <form class="contact-form__form">
        <div class="contact-form__row">
            <label for="" class="contact-form__label">
                Nombre
            <input type="text" class="contact-form__input" placeholder="Ingrese su nombre" required>
             </label>   
            <label for="" class="contact-form__label">
                Teléfono
            <input type="tel" class="contact-form__input" placeholder="Ingrese su número de teléfono" required>
             </label>
        </div>
         <label for="" class="contact-form__label">
                Correo
            <input type="email" class="contact-form__input" placeholder="Ingrese su correo electrónico" required>
            </label>
             <label for="" class="contact-form__label">
                Mensaje
            <textarea name="" id="" class="contact-form__text-area" placeholder="Ingresa tu mensaje aquí..." required></textarea>
             </label>
             <!-- Botones -->
             <div class="contact-form__actions">
                 <button type="submit" class="contact-form__button">Cancelar</button>
                 <button type="button" class="contact-form__button contact__form__button--green">Enviar</button>
             </div>
    </form>

</section>