/*styles/components/navbar.css*/

/*===================*/
    /*Navbar*/
/*===================*/

.navbar__title {
    margin: 0;
    padding: 12px;
    font-size: var(--fs-md);
    text-align: center;
}

.navbar__subtitle {
    font-size: var(--fs-xs);
    color: var(--gray-800);
}

.navbar {
    background-color: var(--primary-800);
}

.navbar__list {
    display: flex;
    flex-direction: column;
    text-align: center;
    width: 100%;
    margin: 0 auto;
    list-style: none;
    padding: 0 ;
}

.navbar__link {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-decoration: none;
    color: var(--white);
    
}

@media (width > 768px) {
  .navbar__list{
    flex-direction: row;
    gap: 40px;
    justify-content: space-evenly;
  }
  .navbar__link:hover{
    color:var(--secondary-300)
    
  }
    
}

.navbar__link.active {
    background-color: var(--white);
    color: var(--primary-950);
    font-weight: bold;
    padding: 8px 24px;
    clip-path: polygon(25% 0%, 100% 0%, 75% 100%, 0% 100%);
}